body{
background-color: lightblue;
color: lightslategray ;
text-align: center;
}

nav{
   margin: 20px 0px;
   padding: 20px 0px;
   background-color: rgb(0, 162, 255);
   text-align: center;
}

nav a {
    text-decoration: none;
    padding-right: 60px; 
    color: white;
}
